@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}
.roboto {
  font-family: "Roboto", sans-serif;
}
/* Tailwind custom classes */
.center {
  @apply flex justify-center items-center;
}
.text-small {
  @apply text-[13px] 2xl:text-[14px];
}
.text-standard {
  @apply text-[14px] 2xl:text-[16px];
}
.text-large {
  @apply text-[16px] 2xl:text-[18px];
}
.heading-secondary {
  @apply text-[18px] sm:text-[20px] md:text-[30px] lg:text-[30px] 2xl:text-[36px];
}

.heading-tertiary {
  @apply text-[16px] sm:text-[18px] md:text-[20px] lg:text-[24px] 2xl:text-[28px] text-[#141B34];
}
.heading-four {
}
.error {
  @apply text-small text-[#ff0000];
}
/* some other classes */
.antialiased {
  padding: 0 !important;
}
